<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">
                    Siga-nos nas redes sociais
                </h4>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
    
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/denise-lima-84606b235/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
    
                    <li>
                        <a href="https://github.com/DeniseDev" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                    
                    <li>
                        <a href="https://www.facebook.com/denise.lima.984/" target="_blank" class="icoFacebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                    
                    </li>
    
    
                </ul>
    
            </div>
        </div>
    </div>
    
    
    </footer>
    