<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar Usuário</h1>

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                  <h1 class="text-center" >Cadastro</h1>
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input [(ngModel)]="user.nome" class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                  </div>
      
                  <div class="form-group">
                    <label for="foto">Link da Foto</label>
                    <input [(ngModel)]="user.foto" class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua Foto">
                  </div>
      
                  <div class="form-group">
                    <label for="usuario">usuario</label>
                    <input [(ngModel)]="user.email" class="form-control" type="text" name="cadUsuario" id="cadUsuario" placeholder="Seu email">
                  </div>
      
                  <div class="form-group">
                    <label for="senha">Senha</label>
                    <input (input)="confirmSenha($event)" class="form-control" type="password" name="cadSenha" id="cadSenha" placeholder="Sua Senha">
                  </div>
      
                  <div class="form-group">
                    <label for="Confirmsenha">Confirmar Senha</label>
                    <input [(ngModel)]="user.senha" class="form-control" type="password" name="Confirmsenha" id="Confirmsenha" placeholder="Confirme sua Senha">
                  </div>
      
      
                  <div class="form-group">
                    <label for="tipo">Tipo de Usuário</label>
                      <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                      <option> Selecione um tipo de Usuário:</option>
                      <option value="normal">normal</option>
                      <option value="adm">Administrador</option>
                    </select>
                  </div>
      
      
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mr-4" routerLink='/entrar' >Cancelar</button>
                    <button class="btn btn-success" (click)="atualizar()" routerLink="/home">Atualizar</button>
                  </div>
              </div>
            </div>



        </div>
    </div>
</div>