.cor-fundo{
    background-color: var(--main-color);
}

.cor-fundo-titulo{
    background-color: var(--primary-color);
}


.foto{

    width: 85%;
}


.cor-fundo-extra{
    background-color: var(--accent-color);
}

.ponta-redonda {
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    height: 95%;
  }


  p{
    font-size: 17px;
  }

  .foto{
    border-radius: 25px;
  }