<div class="container">
    <div class="raw text-center mt-5 cor-texto3 ">
        <div class="col-md-12">
         <h1>sobre</h1>
        </div>
    </div>

    <div class="raw text-center mt-5 cor-texto3">
       <h3>
        Como mudamos o mundo??
        Mostrando informações de forma diferente e usando a tecnologia ao nosso favor. 
        Querendo garantir que os direitos humanos e a  informação, a diversidade cultural e social e outras causas que fazem parte do nosso cotidiano cheguem a todos.
        Somos pessoas diferentes, que pensam diferente e o que nos une é o amor pelo direito à liberdade.
        A “Informação muda o mundo” nasceu com um proposito de mudar a vida das pessoas, para que os conteúdos não cheguem  como uma ditadura de pensamentos únicos e quebrando tudo aquilo que vemos como convencionais.
       </h3> 
 
        </div>

    <div class="raw text-center mt-5 cor-texto3">
        <div class="col-md-12">
            <h1>quem somos</h1>
        </div>
    </div>



    <div class="row row-cols-1 row-cols-md-3 mt-5">
        <div class="col mb-4">
           <img src="https://i.imgur.com/owyqOXp.jpg" class="img-center rounded-circle" alt="Foto Renan" width="75px" height="75px">
            <div class="card-body cardstyle">
              <h5 class="d-flex justify-content-start">Ana Beatriz</h5>
              <a class="d-flex justify-content-start" href="https://www.linkedin.com/in/ana-beatriz-nascimento-7a27a1236/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class="d-flex justify-content-start" href="www.instagram.com" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            </div>
        </div>
        <div class="col mb-4">
            <img src="https://i.imgur.com/Q3Oh9h0.png" class="img-top rounded-circle" alt="Foto Renan" width="75px" height="75px">
             <div class="card-body cardstyle">
               <h5 class="card-title">Denise Lima</h5>
               <a class="d-flex justify-content-start" href="https://www.linkedin.com/in/ana-beatriz-nascimento-7a27a1236/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class="d-flex justify-content-start" href="www.instagram.com" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
             </div>
         </div>
         <div class="col mb-4">
            <img src="https://i.imgur.com/fN9XmOv.png" class="img-top rounded-circle" alt="Foto Renan" width="75px" height="75px">
             <div class="card-body cardstyle">
               <h5 class="card-title">Rafaela Santos</h5>
               <a class="d-flex justify-content-start" href="https://www.linkedin.com/in/ana-beatriz-nascimento-7a27a1236/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class="d-flex justify-content-start" href="www.instagram.com" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
             </div>
         </div>
         <div class="col mb-4 justify-content-center">
            <img src="https://i.imgur.com/Q3Oh9h0.png" class="img-top rounded-circle" alt="Foto Renan" width="75px" height="75px">
             <div class="card-body cardstyle">
               <h5 class="card-title">Renan Amendola</h5>
               <a class="d-flex justify-content-start" href="https://www.linkedin.com/in/ana-beatriz-nascimento-7a27a1236/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class="d-flex justify-content-start" href="www.instagram.com" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
             </div>
         </div>
         <div class="col mb-4">
            <img src="https://i.imgur.com/IdEBeua.jpg" class="img-top rounded-circle" alt="Foto Renan" width="75px" height="75px">
             <div class="card-body cardstyle">
               <h5 class="card-title">Théo Nogueira</h5>
               <a class="d-flex justify-content-start" href="https://www.linkedin.com/in/ana-beatriz-nascimento-7a27a1236/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class="d-flex justify-content-start" href="www.instagram.com" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
             </div>
         </div>
      </div>
    </div>
    