<div class="container">
    <div class="raw text-center ">
        <div class="col-md-12">
         <h1>sobre</h1>
        </div>
    </div>

    <div class="raw">
        <p>
 Como mudamos o mundo??
Mostrando informações de forma diferente e usando a tecnologia ao nosso favor. 
Querendo garantir que os direitos humanos e a  informação, a diversidade cultural e social e outras causas que fazem parte do nosso cotidiano cheguem a todos.
Somos pessoas diferentes, que pensam diferente e o que nos une é o amor pelo direito à liberdade.
A “Informação muda o mundo” nasceu com um proposito de mudar a vida das pessoas, para que os conteúdos não cheguem  como uma ditadura de pensamentos únicos e quebrando tudo aquilo que vemos como convencionais.
        </p>
    </div>

    <div class="raw text-center">
        <div class="col-md-12">
            <h1>quem somos</h1>
        </div>
    </div>
</div>