<nav class="navbar navbar-expand-lg navbar-light var(--primary-color)">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/temas">temas<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Sobre">sobre<span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item active" *ngIf='!authService.logado()' >
          <a class="nav-link" href="#" routerLink="/entrar">acessar Cadastro<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf='authService.logado()'>
          <a class="nav-link" href="#" routerLink="/noticias">publicar<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf='authService.logado()'>
          <a class="nav-link" href="#" routerLink="/minhasPublicacoes">Minhas Publicações<span class="sr-only">(current)</span></a>
        </li>
        </ul>
            </div>
          

            <div class="d-flex justify-content-center  align-items-center">
              <ul class="navbar-nav mr-sm-2 d-fle align-items-center" *ngIf='authService.logado()'>
                
                
               <li class="nav-item pl-3">
                    <a [routerLink]="['/usuarios-edit', authService.id]">
                        <p class="font-weight-bold text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p> 
                    </a>
                </li>
                <li class="nav-item active"  >
                  <img  src="{{authService.foto}}" onerror="this.src = 'https://github.com/tjfaccipieri.png'" alt="Imagem do User" width="50px" height="50px" class="img-fluid rounded-circle">
                </li>
                <li class="nav-item pl-3 ml-1">
                  <p class="m-0 font-weight-bold text-white fs-16">Olá, {{authService.nome}}</p>
                </li>
              </ul>
              
              <li class="nav-item pl-3 list-unstyled"  *ngIf='authService.logado()'>
                <a (click)="sair()" class="m-0 font-weight-bolder text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
              </li>
            </div>

          </nav>