:root{
    --main-color: #D6D6FF; 
    --accent-color: #110B11;
    --primary-color: #447088;
    --background-color: #CBD4C2
}

.First{
    font-family:'Times New Roman', Times, serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.conteiner{
    background-color: ;
}

body{
    background-color: #2D5731 !important;
    
}

nav, footer{
    background-color: #033B3D;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 0.750rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--primary-color);
    font-weight: 400;
}

nav ul li a :hover{
    text-decoration:underline;
    
}

.cor-texto{
    color: var(--background-color)
}





