<div class="container">
  <div class="row">
    <div class="col-md-12">


<div class="card mb-3" *ngFor="let item of user.noticias">
    <img src="{{item.foto}}" class="card-img-top" alt="foto da noticia">
    <div class="card-body" >
      <h5 class="card-title">{{item.titulo}}</h5>
      <p class="card-text">{{item.texto}}</p>
      <p class="card-text"><small class="text-muted">Publicado em: {{item.data | date: 'dd/MM/yyyy'}} as {{item.data | date: 'HH:mm'}}</small></p>
      <p class="card-text"><small class="text-muted">Tema: {{item.temas.descricao}}</small></p>

      <a [routerLink]="['/noticias-edit', item.id]" class="text-info mr-3" href="">Editar</a>
      <a [routerLink]="['/noticias-delete', item.id]" class="text-danger" href="">Apagar</a>
    </div>
  </div>

</div>
</div>
</div>