<div class="container-fluid ">

 
</div>


<!--jumbotron-->
<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4 cor-texto3 ">acompanhe por aqui</h1>
    <h3 class="cor-texto3">as principais noticias do Brasil</h3>
  </div>
</div>
<!--/jumbotron-->




<!-- Menu com as Noticias -->


<div id="noticias">

  <nav>
      <div class="nav nav-tabs d-flex justify-content-center preencher" id="nav-tab" role="tablist">
        <a class="nav-link active text-info font-weight-bold" id="nav-todasnoticias-tab" data-toggle="tab" href="#todasnoticias" role="tab" aria-controls="todasnoticias" aria-selected="true">Todas as noticias</a>


        <a (click)="findByIdTema()" class="nav-link text-info font-weight-bold" id="nav-noticiasTema-tab" data-toggle="tab" href="#noticiasTema" role="tab" aria-controls="noticiasTema" aria-selected="false">noticias por tema</a>

      </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">


<!-- Todas as noticias -->
<div class="tab-pane fade show active ml-5 mr-5" id="todasnoticias" role="tabpanel" aria-labelledby="nav-todasnoticias-tab">

  <div class="card mb-3" *ngFor="let item of listaNoticias">
    <img src="{{item.foto}}" class="card-img-top" alt="foto da postagem">
    <div class="card-body" >
      <h5 class="card-title">{{item.titulo}}</h5>
      <p class="card-text ellipsis">{{item.texto}} </p><a [routerLink]="['/ver-noticia', item.id]">Ler mais</a>
      
      <p class="card-text"><small class="text-muted">Publicado em: {{item.data | date: 'dd/MM/yyyy'}} as {{item.data | date: 'HH:mm'}}</small></p>
      <p class="card-text"><small class="text-muted">Tema: {{item.temas.descricao}}</small></p>
      <p class="card-text text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
    </div>
  </div>

</div>
 <!-- Todas as noticias -->

<!-- noticias por tema -->
<div class="tab-pane fade ml-5 mr-5" id="noticiasTema" role="tabpanel" aria-labelledby="nav-noticiasTema-tab">

  <div *ngFor="let temas of listaTemas">
    <h2 class="mb-3 text-center cor-texto2 ">{{temas.descricao}}</h2>
  <div class="card mb-3" *ngFor="let item of temas.noticias">
    <img src="{{item.foto}}" class="card-img-top" alt="foto da noticia">
    <div class="card-body" >
      <h5 class="card-title">{{item.titulo}}</h5>
      <p class="card-text ellipsis">{{item.texto}} </p><a [routerLink]="['/ver-noticia', item.id]">Ler mais</a>
      <p class="card-text"><small class="text-muted">Publicado em: {{item.data | date: 'dd/MM/yyyy'}} as {{item.data | date: 'HH:mm'}}</small></p>
      <p class="card-text text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
    </div>
  </div>
</div>

</div>
<!-- noticias por tema -->

    </div>

</div>