<div class="p-3 mb-2 bg-light text-dark">
 <h1 class="titulo">Informação Muda o Mundo
   <img src="blob:https://web.whatsapp.com/0b8ea9ed-604f-4c4d-a913-9363cdc05375" alt="">
 
 </h1>
 
 
<br>

<h2 class="Margens">LGBTQIA+</h2>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://cdn.folhape.com.br/upload/dn_arquivo/2021/06/apple-apple-event-keynote-tim-09152020-biglarge.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Tim Cook - Apple </h5>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            <p>O CEO da Apple assumiu publicamente sua homossexualidade em 2014, em um dos raros momentos em que falou sobre sua vida pessoal.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.folhape.com.br/upload/dn_arquivo/2021/06/claudia-ibm.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Claudia Brind-Woody - IBM</h5>
      <p class="card-text">Ela trabalha da IBM desde 1996 e, além de dirigir diversas equipes dentro da companhia, a executiva também  é uma das co-presidentes da Força-Tarefa Executiva Global da IBM para LGBT, treinando funcionários e clientes da empresa para terem visões mais inclusivas a respeito da diversidade. </p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.folhape.com.br/upload/dn_arquivo/2021/06/21603124-ssutq.jpeg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Pedro Pina - Google</h5>
      <p class="card-text">Vice-presidente Global Client & Agency Solutions no Google, o gestor português trabalha para que as marcas parceiras da gigante tenham metas trimestrais que demonstrem uma maior inclusão de pessoas LGBTQIA+.</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
</div>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://cdn.folhape.com.br/upload/dn_arquivo/2021/06/peter-thiel-2014-by-heisenberg-media.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Peter Thiel</h5>
      <p class="card-text">Bilionário, um dos maiores nomes do Vale do Silício.  Thiel é co-fundador do PayPal e chegou a participar da criação do Facebook. Ele costuma investir em empresas de tecnologia, como o próprio FB e o Airbnb. O investidor de risco é uma da vozes da indústria por mais espaços de poder ocupados por pessoas LGBTQIA+. </p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.folhape.com.br/upload/dn_arquivo/2021/06/e47-tdtucac6g7e.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Arlan Hamilton</h5>
      <p class="card-text">Fundadora e sócia-gerente da empresa de capital de risco Backstage Capital. Mas o que isso tem a ver com tecnologia? A empresa de Arlan se concentra em financiar startups administradas por pessoas negras, mulheres e a comunidade LGBTQIA+. Ela dá a mão aos futuros unicórnios do Vale do Silício.</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.folhape.com.br/upload/dn_arquivo/2021/06/martine-rothblatt2-5773.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Martine Rothblatt - United Therapeutics</h5>
      <p class="card-text">Uma das executivas mais bem pagas dos Estados Unidos, Martine é também advogada, empresária e mulher trans.  Ela fundou a United Therapeutics, empresa de biotecnologia com foco em pesquisa, desenvolvimento e venda de medicamentos para pessoas com doenças raras. Além disso, chegou a criar um robô baseado em sua esposa, Bina, que usa de Inteligência Artificial e foi descrita por ela própria como a "primeira companheira cibernética da humanidade", entre outras tecnologias.</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
</div>

<h2 class="Margens">Mulheres</h2>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://veja.abril.com.br/wp-content/uploads/2022/05/000_329J8VM.jpg?quality=70&strip=info&resize=680,453" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Negra e abertamente LGBT: a nova secretária de Imprensa da Casa Branca 
          </h5>
        <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://www.hellomoto.com.br/wp-content/uploads/2019/03/MOTOROLA_CORPO_HELLOMOTO_MULHERES_NA_TECNOLOGIA_02-768x499.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Grace Hopper, a primeira PhD em matemática</h5>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="https://www.hellomoto.com.br/wp-content/uploads/2019/03/MOTOROLA_CORPO_HELLOMOTO_MULHERES_NA_TECNOLOGIA_01-768x499.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Ada Lovelace, a primeira programadora da história</h5>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
  </div>

</div>
  


